<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">Scraper</a>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>

    </ul>

  </div>
</nav>

<div class="container">

  <div class="row">
    <div class="col-8 mx-auto">
    {{#articles}}
    <div data-id="{{_id}}" class="card scraper-card">
      <a href="{{link}}" target="_blank"><h3 class="card-header">{{title}}</h3></a>
      <div class="card-block">
        <div class="pull-right">
          <a href="#" class="article-notes-btn btn btn-warning">Notes</a>
          <a href="#" class="article-remove-btn btn btn-danger">Remove</a>
        </div>
      </div>
    </div>
    {{/articles}}
    </div>
  </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <ul class="notes-container"></ul>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div id="modal-textarea" class="col-8">
            <textarea class="note-input form-control" rows="3"></textarea>
          </div>
          <div class="col-4 text-center">
            <button type="button" class="save-note-btn btn btn-success">Save Note</button>
            <button type="button" class="close-modal-btn btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="footer scraper-footer">
  <div class="container">
    <p class="scraper-footnote text-center">Developed by Michael Davis</p>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="assets/js/saved.js" type="text/javascript"></script>
