<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Scraper</a>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>

    </ul>

  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
  {{#articles}}
    <div class="card scraper-card">
      <a href="{{link}}" target="_blank"><h3 class="card-header">{{title}}</h3></a>
      <div class="card-block">
        <div class="pull-right">
          <a href="#" class="btn btn-warning">Notes</a>
          <a href="#" class="btn btn-danger">Remove</a>
        </div>
      </div>
    </div>
  {{/articles}}
    <div>
  </div>
</div>
